{% extends "layout.html" %}

{% block title %}
homepage
{% endblock %}

{% block content %}

<h1 class="m-5">Welcome {{name}}</h1>
<hr>

<h2 class="p-1">Available Test</h2>


{% for quiz in quizs %}
<div class="card m-3 p-4 g-col-6 bg-dark-subtle" style="width: 18rem;">
    <div class="car d-body">
      <h5 class="card-title ">{{quiz.name}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary ">Max Marks:{{quiz.max_marks}}</h6>
      <hr>
      <p class="card-text">{{quiz.description}}</p>
      <a href="{% url 'quiz_details' quiz.id %}" class="btn btn-primary">Start Test</a>
      
    </div>
  </div>
  <div> 
{% endfor %}



{% endblock %}