{% extends "layout.html" %}

{% block title %}Quiz start{% endblock %}

{% block content %}
    <h1>{{Quiz.name}}</h1>

    <form  method="post">
        {% csrf_token %}

        {%for question in questions%}
<div class="container">
        <label for="question_{{question.id}}">{{question.quest}}</label>
        <input type="text" name="question_{{question.id}}" id="question_{{question.id}}"> 
</div>
        {%endfor%}
        <button type="submit">submit</button>
    </form>

{% endblock %}